body{
	background-color: hsl(212, 45%, 89%);
	max-width: 1440px;
	min-width: 375px;
}

.box1{
	max-width: 325px;
	margin: 5% auto;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
}

.qrcodebox{
	text-align: center;
	width: 100%;
	height: 250px;
	margin: 10px auto;
}

.qrcodebox img{
	width: 288px;
	margin: 15px;
	border-radius: 10px;
}

.textcontent{
	text-align: center;
	margin: 70px auto;
	width: 245px;
	padding-bottom: 10px;
}

.textcontent h3{
	font-family: 'Outfit', sans-serif;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
}

.textcontent p{
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}

.attribution{
	width: 100%;
	left: -4px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.attribution a{
	text-decoration: none;
	color: hsla(216, 95%, 50%, 1.0);
}